NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
ARVO_VERCEL_TOKEN=
ARVO_VERCEL_TEAM_ID=
ARVO_VERCEL_PANEL_PROJECT_ID=
ARVO_VERCEL_STOREFRONT_PROJECT_ID=
